#menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 0;
  user-select: none;
}

#menu i.fa-user-cog {
  margin-right: 8px;
  color: #6fb5ff;
}

#menu label {
  margin: 0;
  padding: 8px 5px;
  cursor: pointer;
}

.navbar {
  padding: 0.1rem 1rem;
}

.navbar-brand {
  margin-left: -5px;
  padding: 0;
  font-size: 25px;
}

.navbar img {
  vertical-align: middle;
}

.navbar label {
  line-height: 1;
  padding: 0.2rem 0.2rem;
  margin: 5px 0;
}

#menu .nav-item {
  padding: 0;
}

#menu a:active .fas {
  transform: scale(1.2);
}

@media screen and (max-width: 700px) {
  #menu .nav-link span {
    display: none;
  }
  #menu .nav-link i {
    font-size: 25px;
    margin: 0 5px;
  }
  .nav-item .nav-link {
    padding: 4px;
  }
  .navbar-nav:last-child .nav-item:not(:first-child):not(:last-child) {
    display: none;
  }
  #menu #admin + label {
    position: relative;
    top: -1px;
  }
  #menu #login {
    position: relative;
    top: 3px;
  }
}
