#user-content {
  overflow-x: hidden;
  position: relative;
}

#user-content .files-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  min-height: calc(100% - 34px);
  padding-bottom: 30px;
  overflow-y: auto;
  align-content: flex-start;
}

#user-content .files-list h4 {
  position: absolute;
}

#user-content .files-list .loading h3 {
  position: absolute;
  top: 45%;
  left: 42%;
}

#user-content .controls {
  position: fixed;
  left: 0;
  right: 5px;
  bottom: 0;
}

.files-list.loading {
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 420px) {
  #fav-file-list #filter-control {
    display: none;
  }
  #user-content .files-list {
    padding-bottom: 125px;
  }
}

@media screen and (max-width: 370px) {
  .files-list {
    justify-content: center;
  }
  #filter-control {
    display: none;
  }
}
