body,
html {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #14243d;
  background: radial-gradient(ellipse at center, #14243d 0%, #030611 100%);

  color: white;
  position: relative;
}

#root {
  height: 100vh;
  min-height: 100vh;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}

#login-container form {
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid;
  min-width: 320px;
}

#login-container label {
  padding: 0 15px;
  min-width: 60px;
}

#login-container label i {
  font-size: 26px;
}

#login-container .error {
  padding: 8px 0;
}
