#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
}

#login-container form {
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid;
    min-width: 320px;
}

#login-container label {
    padding: 0 15px;
    min-width: 60px;
}

#login-container label i {
    font-size: 26px;
}

#login-container .error {
    padding: 8px 0;
}