#player-container {
  display: flex;
  height: 100%;
  width: calc(100% - 320px);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#player-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 720px;
  max-width: 1280px;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: black;
}

#player-content .footer,
#player-content .player {
  position: relative;
  height: 100%;
}

#player-content .footer {
  display: flex;
  justify-content: space-between;
  height: 32px;
  border-top: 1px solid;
}

.footer span {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  padding: 0 5px;
}

#player-content:after {
  content: attr(data-not-found);
  position: absolute;
  right: 41%;
}
#player-content[data-not-found*="Video"] {
  height: 100%;
}

#player-content[data-not-found*="Video"] video {
  height: 100%;
}
#player-container {
  display: flex;
  height: 100%;
  width: calc(100% - 320px);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#player-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: black;
}

#player-content .footer,
#player-content .player {
  position: relative;
}

#player-content .footer {
  display: flex;
  justify-content: space-between;
  height: 32px;
  border-top: 1px solid;
}

.footer span {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  padding: 0 5px;
}

#player-content:after {
  content: attr(data-not-found);
  position: absolute;
  right: 41%;
}
#player-content[data-not-found*="Video"] {
  height: 100%;
}

#player-content[data-not-found*="Video"] video {
  height: 100%;
}

#player-container video {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  background-color: black;
}

#player-container .v-controls {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: 0.5s all;
}

.v-controls .v-seeker {
  display: flex;
  align-items: center;
}

.v-controls .v-seeker > span {
  display: inline-block;
  padding-left: 10px;
  line-height: 1.8;
}

.v-controls #v-seek {
  width: 100%;
  margin: 0 15px;
  cursor: pointer;
}

#player-container .v-btns {
  position: relative;
  display: flex;
  justify-content: center;
}

#player-container .v-btns > span {
  display: inline-block;
  margin: 0 4px;
  font-size: 24px;
}

#v-vol-control {
  cursor: pointer;
}

.v-controls .v-vol #v-vol-control {
  position: relative;
  width: 130px;
  height: 8px;
  top: -5.5px;
  right: -5px;
}

#v-vol-control::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 8px;
  background: #fff;
  -webkit-app-region: no-drag;
}

#v-vol-control[value="0"] + label i:before {
  content: "\f026";
}

#v-mute + .fa-volume-up {
  display: inline-block;
  width: 30px;
  margin-left: 5px;
}

#player-content #v-mute:checked + i:before {
  content: "\f6a9";
}

#player-container .v-btns .v-vol {
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
}
#player-vol {
  width: 120px;
}
#player-content .card-body {
  position: relative;
}

.v-controls #v-slider {
  display: inline-block;
  margin: 0 15px;
  padding-right: 0;
  padding-left: 0;
}

#v-slider .MuiSlider-rail {
  background-color: white;
}
:fullscreen #player-content video,
:fullscreen #player-content .player {
  height: 100%;
}
:fullscreen #player-content {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}

:fullscreen #player-content .footer {
  display: none;
}
/* input Range style */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  max-width: 160px;
  background: transparent;
}
/* Thumb appeariance */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

#player-container .v-btns span:not(.v-vol) {
  margin: 0 10px;
}

:fullscreen #player-content #filename {
  display: block;
  position: fixed;
  width: 100%;
  top: 20px;
  text-align: center;
  border: none;
}

:fullscreen #player-content #filename span:first-child {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  max-width: 700px;
  height: fit-content;
  text-align: left;
}

:fullscreen #player-content #filename span:last-child {
  display: none;
}

#player-container #v-progress2 {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
  padding: 2px 8px;
  border-bottom-right-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: 0.5s all;
}

@media screen and (max-width: 1200px) {
  #player-content {
    height: initial;
  }
}
@media screen and (max-width: 600px) {
  #player-content {
    max-width: 100%;
    height: 275px;
    margin: 0;
    padding: 0;
    border: none;
  }
  #player-content .player,
  #player-content .player video {
    height: 100%;
  }
  #player-container #v-vol-control {
    width: 80px;
  }
  #player-container .v-btns {
    justify-content: start;
  }
  .footer span {
    font-size: 14px;
    line-height: 2;
  }
  #player-container .v-btns span:not(.v-vol) {
    margin: 0 5px;
  }
}
