#content {
  overflow-x: hidden;
}
#viewer {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewer:fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#viewer #files-list.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#viewer label {
  margin: 0;
}

#viewer #files-list.loading h3 {
  position: relative;
  top: -20px;
}

#viewer input[type="checkbox"] {
  display: none;
}

#play-list {
  position: absolute;
  right: 0;
  height: 100%;
  width: 320px;
  background-color: black;
  border-left: 2px solid;
  transition: 0.3s all;
  z-index: 3;
  overflow: hidden;
}

#p-list {
  overflow-y: auto;
  height: calc(100% - 40px);
}

#play-list .p-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  transition: 0.3s all;
  border-top: 1px solid;
}

#p-hide:checked + #play-list {
  width: 0;
  border: none;
}
#play-list label i {
  transition: 0.3s all;
}

#p-hide:checked + #play-list .p-controls .form-control {
  display: none;
}

#play-list .p-controls .p-sort {
  margin: 0;
  width: 32px;
  font-size: 30px;
  padding: 0 8px;
  flex-grow: 0;
}

#play-list .p-controls .form-control {
  display: inline-block;
  height: 30px;
  margin-right: 8px;
}

#play-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#play-list #p-list .list-item {
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-bottom: 1px solid;
  min-height: 82px;
  cursor: pointer;
  user-select: none;
}

#play-list #p-list .list-item:last-child {
  border-bottom: none;
}

#play-list #p-list .list-item:hover {
  background-color: rgba(26, 151, 179, 0.5);
}

#play-list #p-list .active {
  background-color: rgba(255, 20, 25, 0.8);
}

#play-list .cover {
  position: relative;
  pointer-events: none;
}

#play-list .l-name {
  display: inline-block;
  padding-left: 5px;
  font-size: 14px;
}

#play-list .duration {
  position: absolute;
  display: inline-block;
  right: 1px;
  bottom: 1px;
  padding: 0 4px;
  background-color: black;
  border-radius: 0.25rem;
  font-size: 13px;
}

#play-list img {
  max-width: 130px;
  max-height: 75px;
}

#play-list #p-list::-webkit-scrollbar {
  width: 10px;
}

#play-list #v-filter {
  flex-grow: 1;
}

#play-list .clear-filter {
  right: 14px;
}

#p-items {
  display: inline-block;
  padding: 0 8px;
}
