#fl-manager .controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0px;
  padding: 4px;
  z-index: 1;
}

#fl-manager .controls > span:last-child {
  pointer-events: none;
}

#content .manager #clear-filter {
  line-height: 1.6;
}

.pagination {
  margin: 0;
}

#fl-manager .controls * {
  max-height: 31px;
}

.controls .input-group-text {
  padding: 0 0.5rem;
}

#filter-control {
  position: relative;
  width: 180px;
}

#pager li:last-child,
#filter-file {
  padding: 2px 5px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#pager {
  width: fit-content;
  padding: 0;
}

#pager li:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#pager li:not(#current-page) {
  line-height: 2;
  padding: 0 14px;
}

#pager li,
#filter-control span {
  cursor: pointer;
  user-select: none;
}

#pager li i {
  font-size: 20px;
  pointer-events: none;
}

#pager #current-page {
  font-size: 14px;
  padding: 0 4px;
  line-height: 2;
  font-weight: 700;
}

#pager #current-page {
  width: 80px;
  text-align: center;
}

#pager #current-page input {
  width: 95%;
  height: 29px;
  padding: 0 8px;
  font-size: 15px;
  color: #007bff;
}

#pager #current-page input:focus {
  box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25);
}

#ordering {
  max-width: 140px;
}

#order-select {
  padding: 0 5px;
  cursor: pointer;
}

#ordering * {
  font-family: "Font Awesome 5 Free", "sans-serif";
  font-weight: 600;
}

.controls span.input-group-tex {
  padding: 0 6px;
}

.total-files {
  line-height: 1.5;
  font-size: 1rem;
}

.controls .fa-arrow-circle-left {
  font-size: 25px;
}

.controls #all-favs {
  max-width: max-content;
}

.controls #all-favs select {
  padding: 0 4px;
  cursor: pointer;
}

.controls label .fa-star {
  font-size: 10px;
  color: rgb(214, 202, 36);
  pointer-events: none;
}

.controls label .fa-cog {
  font-size: 20px;
  cursor: pointer;
}

.controls .input-group-text {
  border-radius: 0.25rem 0 0 0.25rem !important;
}

#pager li:active > i,
#filter-control span:active > i {
  transform: scale(1.3);
}

@media screen and (max-width: 700px) {
  #filter-control {
    position: relative;
    width: 90px;
  }
  #filter-file:focus {
    position: absolute;
    left: 34px;
    width: 150px;
  }
  #filter-control #filter-file:focus + #clear-filter {
    right: -90px;
  }
  #first-page,
  #last-page {
    display: none;
  }
  #prev-page {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  #next-page {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
